# Introduction to Python

In this lesson we will learn the basics of the Python programming language (version 3). We won't learn everything about Python but enough to do some basic machine learning.

<img src="figures/python.png" width=350>

#  Variables

Variables are objects in Python that can hold anything with numbers or text. Let's look at how to create some variables.

In [28]:
# Numerical example
x = 99
print (x)

x = 27 # Added numerical value of 27
print (x)

x=55 # Added numerical value of 55
print (x)

"""changed numerical values of x"""

99
27
55

'changed numerical values of x'

In [29]:
# Text example
x = "learning to code is fun" # Changed text to "learning to code is fun" and "tomorrow"
print (x)

x="tomorrow"
print(x)

"""changed sentences and value of x. Modified spacing to see if it altered the output"""

learning to code is fun
tomorrow

'changed sentences and value of x. Modified spacing to see if it altered the output'

In [30]:
# Variables can be used with each other
a = 2 # Changed values of a, b, and c
b = 298
c = a + b
print (c)

a = 3
b = 4
c = 27
d = 22
e = a + b + c + d
print (e)

"""Changed values of a, b, and c. Created additional values for new variables."""

300
56

'Changed values of a, b, and c. Created additional values for new variables.'

Variables can come in lots of different types. Even within numerical variables, you can have integers (int), floats (float), etc. All text based variables are of type string (str). We can see what type a variable is by printing its type.

In [31]:
# int variable
x = 2
print (x)
print (type(x))

x = 1
print (x)
print (type(x))

# float variable
x = 7.7
print (x)
print (type(x))

x = 2.25
print (x)
print (type(x))

# text variable
x = "hello Sheri" 
print (x)
print (type(x))

x = "Thunderstorms"
print (x)
print (type(x))

# boolean variable
x = False
print (x)
print (type(x))

x = True
print (x)
print (type(x))

"""Created new values for the variable x"""

2
<class 'int'>
1
<class 'int'>
7.7
<class 'float'>
2.25
<class 'float'>
hello Sheri
<class 'str'>
Thunderstorms
<class 'str'>
False
<class 'bool'>
True
<class 'bool'>

'Created new values for the variable x'

It's good practice to know what types your variables are. When you want to use numerical operations on them, they need to be compatible.

In [32]:
# int variables
a = 6
b = 2
print (a + b)

# string variables
a = "6"
b = "2"
print (a + b)

a = "4"
b = "3"
c = "5"
print (a + b + c)

a = 4
b = 3
c = 5
print (a + b + c)

"""Changed existing value of int and string variables. Created new variables"""

8
62
435
12

'Changed existing value of int and string variables. Created new variables'

#  Lists

Lists are objects in Python that can hold a ordered sequence of numbers **and** text.

In [46]:
# Creating a list
list_x = [2, "hello", 1]
print (list_x)

list_a = [1, "sheri lamb", 4]
print (list_a)

"""Created a new list a"""

[2, 'hello', 1]
[1, 'sheri lamb', 4]

'Created a new list a'

In [49]:
# Adding to a list
list_x.append(7)
print (list_x)

list_a.append("tomorrow")
print (list_a)

"""Added 'tomorrow' to my list"""

[2, 'hello', 1, 7, 7, 7]
[1, 'sheri lamb', 4, 'tomorrow', 'tomorrow', 'tomorrow']

"Added 'tomorrow' to my list"

In [38]:
# Accessing items at specific location in a list
print ("list_x[0]: ", list_x[0])
print ("list_x[1]: ", list_x[1])
print ("list_x[2]: ", list_x[2])
print ("list_x[-1]: ", list_x[-1]) # the last item
print ("list_x[-2]: ", list_x[-2]) # the second to last item

print ("list_x[5]:", list_x[5]) 

"""accessed item #5"""

list_x[0]:  1
list_x[1]:  sheri lamb
list_x[2]:  4
list_x[-1]:  tomorrow
list_x[-2]:  7
list_x[5]: 7

'accessed item #5'

In [40]:
# Slicing
print ("list_x[:]: ", list_x[:])
print ("list_x[2:]: ", list_x[2:])
print ("list_x[1:3]: ", list_x[1:3])
print ("list_x[:-1]: ", list_x[:-1])

print ("list_x[5:]: ", list_x[5:])

"""added #5 to # slicing"""

list_x[:]:  [1, 'sheri lamb', 4, 7, 'tomorrow', 7, 'tomorrow', 7, 'tomorrow']
list_x[2:]:  [4, 7, 'tomorrow', 7, 'tomorrow', 7, 'tomorrow']
list_x[1:3]:  ['sheri lamb', 4]
list_x[:-1]:  [1, 'sheri lamb', 4, 7, 'tomorrow', 7, 'tomorrow', 7]
list_x[5:]:  [7, 'tomorrow', 7, 'tomorrow']

'added #5 to # slicing'

In [54]:
# Length of a list
len(list_x)
len(list_x)

len(list_a)
"""calculated the length of list_a"""

'calculated the length of list_a'

In [52]:
# Replacing items in a list
list_x[1] = "hi"
print (list_x)

list_a[1] = "yes"
print (list_a)

"""replaced item 1 with yes"""

[2, 'hi', 1, 7, 7, 7]
[1, 'yes', 4, 'tomorrow', 'tomorrow', 'tomorrow']

'replaced item 1 with yes'

In [57]:
# Combining lists
list_y = [2.4, "world"]
list_z = list_x + list_y
print (list_z)

list_h = [1, 2,"fire"]
list_i = [4, 7, "Stella"]
list_4 = list_h + list_i
print (list_4)

"""Created 2 new lists and combined them to create a third (list_4)"""

[2, 'hi', 1, 7, 7, 7, 2.4, 'world']
[1, 2, 'fire', 4, 7, 'Stella']

'Created 2 new lists and combined them to create a third (list_4)'

# Tuples

Tuples are also objects in Python that can hold data but you cannot replace their values (for this reason, tuples are called immutable, whereas lists are known as mutable).

In [59]:
# Creating a tuple
tuple_x = (3.0, "hello")
print (tuple_x)

tuple_y = (5.0, "Star")
print (tuple_y)

"""Created tuple y"""

(3.0, 'hello')
(5.0, 'Star')

'Created tuple y'

In [67]:
# Adding values to a tuple
tuple_x = tuple_x + (5.6,)
print (tuple_x)

tuple_z = tuple_y + (2.4,)
print (tuple_z)

"""added 2.4 to tuple_z"""

(3.0, 'hello', 5.6, 5.6, 5.6, 5.6)
(5.0, 'Star', 2.4)

'added 2.4 to tuple_z'

In [64]:
# Trying to change a tuples value (you can't, this should produce an error.)
tuple_x[1] = "world"

tuple_z[1] = "sunrise"

"""attempted to change the value of tuple_z"""

TypeError: 'tuple' object does not support item assignment

# Dictionaries

Dictionaries are Python objects that hold key-value pairs. In the example dictionary below, the keys are the "name" and "eye_color" variables. They each have a value associated with them. A dictionary cannot have two of the same keys.

In [72]:
# Creating a dictionary
dog = {"name": "dog",
        "eye_color": "brown"}
print (dog)
print (dog["name"])
print (dog["eye_color"])

MAC = {"brand": "MAC", "color": "red"}
print (MAC)
print (MAC["brand"])
print (MAC["color"])

"""Created a dictionary for MAC lipstick"""

{'name': 'dog', 'eye_color': 'brown'}
dog
brown
{'brand': 'MAC', 'color': 'red'}
MAC
red

'Created a dictionary for MAC lipstick'

In [74]:
# Changing the value for a key
dog["eye_color"] = "green"
print (dog)

MAC["color"] = "pink"
print (MAC)

"""Changed the lipstick color from red to pink"""

{'name': 'dog', 'eye_color': 'green'}
{'brand': 'MAC', 'color': 'pink'}

'Changed the lipstick color from red to pink'

In [75]:
# Adding new key-value pairs
dog["age"] = 5
print (dog)

MAC["age"] = 1
print (MAC)

"""Added an aditional value (age)"""

{'name': 'dog', 'eye_color': 'green', 'age': 5}
{'brand': 'MAC', 'color': 'pink', 'age': 1}

In [77]:
# Length of a dictionary
print (len(dog))

print (len(MAC))

"""Calculated length of MAC dictionary"""

3
3

'Calculated length of MAC dictionary'

# If statements

You can use `if` statements to conditionally do something.

In [81]:
# If statement
x = 4
if x < 1:
    score = "low"
elif x <= 4:
    score = "medium"
else:
    score = "high"
print (score)

x = 5
if x < 2:
    score = "low"
elif x <= 5:
    score = "medium"
else:
    score = "high"
print (score)

x = 10
print (score)

x = 1
print (score)

"""Added additional if statements (x = 5)"""

medium
medium
medium
medium

'Added additional if statements (x = 5)'

In [85]:
# If statment with a boolean
x = True
if x:
    print ("it worked")
    
y = False
if y: 
    print ("it did not work") 
    
z = True
if z:
    print ("it almost worked")
    
    
"""Created true / false boolean statements"""

it worked
it almost worked

# Loops

In Python, you can use `for` loop to iterate over the elements of a sequence such as a list or tuple, or use `while` loop to do something repeatedly as long as a condition holds.

In [92]:
# For loop
x = 2 # x variable will start at 2 instead of 1
for i in range(5): # goes from i=0 to i=4 range is 5 instead of 3
    x += 1 # same as x = x + 1
    print ("i={0}, x={1}".format(i, x)) # printing with multiple variables(

i=0, x=3
i=1, x=4
i=2, x=5
i=3, x=6
i=4, x=7

In [96]:
# Loop through items in a list
x = 2 # changed x variable to 2, now x will start at 3 instead of 2
for i in [0, 1, 2, 3, 4]: # added two additional numbers to the list
    x += 1 # same as x = x +1
    print ("i={0}, x={1}".format(i, x))

i=0, x=3
i=1, x=4
i=2, x=5
i=3, x=6
i=4, x=7

In [101]:
# While loop
x = 10 # Changed variable from 3 to 10
while x > 3: # Changed the condition to 3
    x -= 1 # same as x = x - 1
    print (x)

9
8
7
6
5
4
3

# Functions

Functions are a way to modularize reusable pieces of code.

In [103]:
# Create a function
def Shamel(x): # Redefined function's name 
    x += 5 # Changed value of x
    return x

# Use the function
score = 1
score = Shamel(x=score)
print (score)

6

In [107]:
# Function with multiple inputs
def join_name (first_name, middle_name, last_name): # Re-defined function
    joined_name = first_name + " " + middle_name + " " + last_name # Added middle name
    return joined_name

# Use the function
first_name = "Sheri" # Change display information 
middle_name = "Nicole"
last_name = "Lamb"
joined_name = join_name(first_name=first_name, middle_name=middle_name, last_name=last_name)
print (joined_name)

Sheri Nicole Lamb

# Classes

Classes are a fundamental piece of object oriented programming in Python.

In [108]:
# Creating the class
class Cars(object): # Changed class to Cars
  
    # Initialize the class
    def __init__(self, brand, color, name): # Changed "species" to "brand"
        self.brand = brand
        self.color = color
        self.name = name

    # For printing  
    def __str__(self):
        return "{0} {1} named {2}.".format(self.color, self.brand, self.name)

    # Example function
    def change_name(self, new_name):
        self.name = new_name

In [111]:
# Creating an instance of a class
my_car = Cars(brand="Jeep", color="Spitfire Orange", name="Rover",) # Changed instances of car class
print (my_car)
print (my_car.name)

Spitfire Orange Jeep named Rover.
Rover

In [114]:
# Using a class's function
my_car.change_name(new_name="Sunshine") # Changes cars name
print (my_car)
print (my_car.name)

Spitfire Orange Jeep named Sunshine.
Sunshine

# Additional resources

This was a very quick look at Python and we'll be learning more in future lessons. If you want to learn more right now before diving into machine learning, check out this free course: [Free Python Course](https://www.codecademy.com/learn/learn-python)